<!DOCTYPE html>

<html>

<script>
function Home() {
    window.open("/","_self");
}
function Register() {
    window.open("/register","_self");
}
function Blog() {
    window.open("/blog","_self");
}
function Contact() {
    window.open("/contact","_self");
}
function About() {
    window.open("/about","_self");
}

function Signout() {
    window.open("/logout","_self");
}
</script>


<head>
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="{{ url_for('static', filename='MainPage.css') }}" type="text/css" rel="stylesheet"/>

</body>

<header>
<div class="MainPageOnTop">
<h1 id="MainTitle">HackTimes</h1>

<nav>
<ul>
<li name="Home" onclick="Home()">Home</li>
<li name="Register" onclick="Register()">Register</li>
<li name="Blog" onclick="Blog()">Blog</li>
<li name="Contact" onclick="Contact()">Contact</li>
<li name="About" onclick="About()" style="background-color:khaki">About</li>
{% if signout == 'Signout'%}
<li onclick="Signout()">{{signout}}<li>
{%endif%}
</ul>
</nav>

</div>

</header>

</body>


</head>


</html>